body {
    background-color: #f5f5f5;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lilita One", serif;
    font-style: normal;
    font-size: 30px;
    background-color: rgb(129, 200, 238);
    color: white;
    padding: 15px 0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid black;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0;
}

.login-container-elements {
    font-family: "Roboto", serif;
    width: 400px;
    padding: 20px;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.login-container-elements h1 {
    font-size: 35px;
    margin: 10px 0 0 0;
    padding: 0;
}

.login-container-elements h2 {
    text-align: left;
    font-size: 20px;
}

.login-container-elements input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
}

.username-password-container {
    margin-top: 50px;
    margin-bottom: 40px;
}

.login-container-elements button {
    font-family: "Roboto", serif;
    font-size: 20px;
    padding: 5px 40px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
}

.login-container-elements button:hover {
    background-color: rgb(129, 200, 238);
}

.login-container-elements hr {
    width: 100%;  /* Ensures it spans the full width */
    height: 1px;  /* Makes it slightly thicker for a modern look */
    background-color: black; /* Changes the color */
    margin: 5px 0;  /
}